* {
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    background-color: #999999;
    height: 100%;
    padding: 4%;
}

.Bola-do-Luis {
    background-image: url(LuisSmiti.png);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    margin-left: 4%;
    margin-top: 4%;
    margin-bottom: 1%;
}

/*Não está centralizado bem*/
#header-title>a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    margin-left: 4.55%;
}

/*Não consigo tirar as bolinhas e eficar centralizado*/
header ul>li>a {
    text-decoration: none;
    color: black;
    margin-left: 4%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    justify-content: flex-start;
}

/*Não consigo fazer ficar bonitinho*/
.newsletter>form {
    background-color: #FFFFFF;
    border: bold gray;
    width: 187px;
    height: 52px;
    text-align: center;
    align-items: center;
    /**/
}

/*==============================body======================================*/
/*Tá descentralizado e pequeno*/
.imagem-meio>img {
    margin-left: 20%;
    width: 600px;
    height: 870px;
}

.imagem-meio {
    margin-left: 20%;
    width: 600px;
    height: 870px;
}

/*-----------------------------Texto da direita---------------------------*/
/*Nao to conseguindo alterar a posicao do texto para ficar na*/
.texto-direita {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 30%;
}

/*Arrumar para ficar da cor certa e no lugar certo*/
#texto-etereo {
    color: beige;
}

#texto-outra-cor {
    color: chocolate;
}



