*{
    margin: 0;
    box-sizing: border-box;
}

.Bola-do-Luis {
    background-image: url(LuisSmiti.png);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
       
}